<header class="row" style="justify-content:space-between; margin-bottom: 16px;">
  <div style="font-weight:800; letter-spacing:.2px;">Banco</div>
  <nav class="tabs">
    <a routerLink="/clients" routerLinkActive="active" class="tab" ariaCurrentWhenActive="page">Clientes</a>
    <a routerLink="/accounts" routerLinkActive="active" class="tab" ariaCurrentWhenActive="page">Cuentas</a>
    <a routerLink="/moves" routerLinkActive="active" class="tab" ariaCurrentWhenActive="page">Movimientos</a>
    <a routerLink="/reports/moves" routerLinkActive="active" class="tab" ariaCurrentWhenActive="page">Reporte</a>
  </nav>
</header>
